__pycache__
*.pyc
doc/build
doc/source/cpp_doctest/*
!doc/source/cpp_doctest/*.txt
!doc/source/cpp_doctest/*.cpp
!doc/source/cpp_doctest/*.cu
!doc/source/cpp_doctest/Makefile
.coverage
coverage

PKG-INFO
pySecDec.egg-info
pySecDec/metadata.py

*.tar.gz
!dist_template/*.tar.gz

build/
dist/
pySecDec-*/

# Ignore PyCharm Cache
.idea

# built high level tests
*.o
*.exe
*.log
high_level_tests/*/*/
!high_level_tests/*/test

# built pySecDecContrib
pySecDecContrib/bin
pySecDecContrib/include
pySecDecContrib/install
pySecDecContrib/lib
pySecDecContrib/libexec

# Scons
.sconsign.dblite
config.log
.sconf_temp
