__pycache__
*.pyc
doc/build
doc/source/cpp_doctest/*
!doc/source/cpp_doctest/*.txt
!doc/source/cpp_doctest/*.cpp
!doc/source/cpp_doctest/Makefile
.coverage
coverage

pySecDec.egg-info

*.tar.gz

build/
dist/
pySecDec-*/

# Ignore PyCharm Cache
.idea
